extends layout

block content
  h1= title
  p Welcome to #{title}

  ul 
  each template in templates 
    li= template.title
      form#sendTemplate(method="post", action="/signature_request")
        input(type="hidden", name="template_id", value=template.template_id)
        input(type="submit", value="Send")
